@using global::Journal.Util

@code {

}

<div class="height-3"></div>
<article class="medium middle-align center-align">
    <div>
        <i class="extra">@(Icons.PERSON)</i>
        <h5>You are not logged in.</h5>
        <p>Click the button below to login.</p>
        <div class="space"></div>
        <nav class="center-align">
            <a class="button" href="/login">
                <i>@(Icons.LOGIN)</i>
                Login via discord
            </a>
        </nav>
    </div>
</article>
