@using global::Journal.Database.Models
@using global::Journal.Util
@rendermode InteractiveServer

@code {


    [Parameter] public string TagId { get; set; }

    [Parameter] public string Title { get; set; }

    [Parameter]
    public List<UserDefinedTag> List { get; set; }

    private bool isSelected => List.Any(t => t.Id == TagId);

    private void addOrRemoveTag()
    {
        var existing = List.FirstOrDefault(t => t.Id == TagId);

        if (existing != null)
        {
            List.Remove(existing);
        }
        else
        {
            List.Add(new UserDefinedTag(TagId, Title));
        }
    }

}

<button class="chip @(isSelected ? "fill" : "")" @onclick="addOrRemoveTag">
    <span>@Title</span>
    @if (isSelected)
    {
        <i>@Icons.CLOSE</i>
    }
</button>
