@inherits LayoutComponentBase

<div class="layout">

    <main class="responsive">
        <AuthorizeView>
            <Authorized>
                @Body
            </Authorized>
            <NotAuthorized>
                <NotLoggedIn></NotLoggedIn>
            </NotAuthorized>
        </AuthorizeView>
    </main>

    <NavBar></NavBar>

</div>
